<!-- <main class="bg-slate-100 dark:bg-[#282828]"> -->
<main class="hero min-h-screen bg-back bg-cover bg-center relative">
    <div class="hero-overlay bg-opacity-60"></div>
    @if (error) {
        <div class="w-full h-screen z-10 flex justify-center" id="err">
            <div class="bg-black opacity-30 w-full h-screen z-10"></div>
            <div class="flex justify-center items-center absolute z-10 mt-4 ">
                <div class="bg-red-700 text-white p-3 rounded-lg">
                    <div class="flex flex-row justify-evenly items-center py-2 space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>{{error}}</span>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- todo: fix the loader -->
    @if (loading) {
    
        <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
            <!-- <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-32 w-32"></div> -->
            <span class="loading loading-spinner loading-lg scale-125"></span>
        </div>
    
    }
    <div class="hero-content">
        <div class="card lg:card-side bg-base-100 shadow-xl scale-90 shadow-black/40">
            <figure class="h-60 lg:w-96 lg:h-full">
                <img src="../../assets/img/myPic.jpg" alt="Album" class="h-[485px] w-full" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Login</h2>
                <p class="flex-grow-0 pb-5">
                    Please login with you Username and password!
                </p>

                <div class="flex justify-center items-center lg:pt-10">
                    <form class="flex flex-col justify-center items-center space-y-3" [formGroup]="loginForm"
                        (ngSubmit)="onSubmit()">
                        <div class="w-72">
                            <label class="input input-bordered flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="w-4 h-4 opacity-70">
                                    <path
                                        d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                    <path
                                        d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                                </svg>
                                <input type="text" class="grow" placeholder="Email" name="username"
                                    formControlName="username" />
                            </label>
                        </div>
                        <div class="w-72">
                            <label class="input input-bordered flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="w-4 h-4 opacity-70">
                                    <path fill-rule="evenodd"
                                        d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <input type="password" class="grow" placeholder="password" name="password"
                                    formControlName="password" />
                            </label>
                        </div>
                        <div class="card-actions justify-center pt-5">
                            <button class="btn btn-primary w-60" [disabled]="loginForm.invalid">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <!-- the button was here -->
                <div>
                    <p class="pt-5">
                        Don't have an account?
                        <a [routerLink]= "['/register']" class="text-primary">Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>